@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PHOTOEXPRESS</h1>
    <p class="lead">Photoexpress es una compañía que se dedica al manejo del registro fotográfico. 
    Actualmente, solo se dedican a las ceremonias de graduación de las instituciones de educación superior</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MISIÓN</h2>
        <p>
            Somos una empresa dedicada a ofrecer servicios de fotografía profesional,
            utilizando altos estándares de calidad en cada uno de nuestros productos y servicios, 
            con el propósito de satisfacer las necesidades de nuestros clientes, ofreciendo un trato personalizado.
        </p>
    </div>
    <div class="col-md-4">
        <h2>VISIÓN</h2>
        <p>Ser la empresa líder en fotografía profesional, ofrecer amplios servicios y mayor cobertura a nivel nacional, 
        utilizando para ello tecnologías innovadoras y un contacto más directo con nuestros clientes.</p>
    </div>
    <div class="col-md-4">
        <h2>VALORES</h2>
        <p>
            Compromiso con cada uno de nuestros clientes de ofrecer siempre el mejor servicio.
            Eficiencia en la entrega de todos nuestros productos.
            Respeto y trato profesional a nuestros clientes.
            Pasión en la realización y servicio de todos los servicios que ofrecemos.
            Calidad humana por parte de nuestro personal.
        </p>
    </div>
</div>